@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  #app-speedofme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #react-speedofme {
    font-family: 'Asap', sans-serif;
    display: flex;
    flex: 1 1 auto;

    .card {
      padding: 0;
      text-align: center;

      .gauge {
        flex-basis: 275px;
        width: 275px;
        height: 160px;
      }

      .total-box {
        height: 160px;

        .total {
          display: block;
          text-align: center;
          .total-speed {
            color: #646464;
            font-size: 6.5ch;
            font-weight: bold;
          }
          .text-speed {
            color: #f6734e;
            font-weight: bold;
            line-height: 32px;
            font-size: 2.2ch;
          }
        }
      }
    }

    .flex-total-centered {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .gauge {
    width: 326px !important;
  }
  #react-speedofme {
    flex-direction: column;
  }
}
