@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  #react-speedofme {
    font-family: 'Asap', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
      padding: 0;
      text-align: left;

      .gauge {
        width: 14.6vw;
        height: 17vh;
      }

      .total-box {
        width: 15.6vw;
        height: 17vh;

        .total {
          display: block;
          height: 8vh;
          width: 16vw;
          text-align: center;
          .total-speed {
            color: #646464;
            font-size: 6.5ch;
            font-weight: bold;
            line-height: 48px;
            margin-bottom: 1.4rem;
          }
          .text-speed {
            color: #f6734e;
            font-weight: bold;
            line-height: 32px;
            font-size: 2.2ch;
          }
        }
      }
    }

    .flex-total-centered {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
